<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/iftttclone</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="connection.pool_size">10</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="hibernate.current_session_context_class">thread</property>
	</session-factory>
</hibernate-configuration>