<div class="alert alert-danger" data-ng-show="error">
    Il canale selezionato non esiste
</div>


<div class="row">
   <!-- // here i put the channel discription-->
  <div class="col-lg-5 col-lg-offset-1">
    <img src={{channel.link}} width="220px"/>
  </div>

  <div class="col-lg-5">
    <div class="row">
      <h1>{{channel.title}}</h1>
    </div>
    <div class="row">
      <p>{{channel.description}}</p>
    </div>

    <!-- only if the user is authenticated i can tell him is he is connected to this service or not -->
    <div class="row" data-ng-show="authenticated">
      <form method="post" action={{channel.activate}} data-ng-show="toConnect">
        <input type ='submit' class="btn btn-primary" value = 'Connect'/>
      </form>
      <a data-ng-show="!toConnect" class="btn btn-secondary" data-ng-click="">Already connected</a>
    </div>

  </div>

</div>

<br /> <hr /> <br />

<div class="card col-lg-4 col-lg-offset-1" data-ng-repeat="recipe in recipes" data-ng-click="controller.importRecipe(recipe.id)">
    <div class="card-block">
      <div class="card-title" style="align:center">
        <p style="vertical-align:middle;font-weight:bold;font-size:2em">
          if <img src={{recipe.triggerChannel}} width="80px" /> then <img src={{recipe.actionChannel}} width="80px" />
        </p>
      </div>
      <div class="card-text row">
        <div class="col-lg-10 col-lg-offset-1">
          {{recipe.title}}
        </div>
      </div>
    </div>
</div>
<!-- Here it goes the list of public recipes which use that channel-->
