<div class="alert alert-danger" data-ng-show="error">The selected channel does not exist.</div>

<div class="row">
   <!-- here i put the channel description -->
  <div class="col-lg-5 col-lg-offset-1">
    <img src={{channel.link}} alt={{channel.name}}/>
  </div>

  <div class="col-lg-5">
    <div class="row">
      <h1>{{channel.name}}</h1>
    </div>
    <div class="row">
      <p>{{channel.description}}</p>
    </div>

    <!-- only if the user is authenticated I can tell him if he is connected to this service or not, show only if it needs connection -->
    <div class="row" data-ng-show="authenticated && channel.withConnection">
      <form method="post" action={{channel.activate}} data-ng-show="toConnect">
        <input type="hidden" name="_csrf" value="{{csrftoken}}"/>
        <input type="submit" class="btn btn-primary" value="Connect"/>
      </form>
      <button data-ng-show="!toConnect" class="btn btn-secondary" data-ng-click="controller.deactivateChannel()">Disconnect</button>
    </div>

  </div>

</div>

<br /> <hr /> <br />

<div class="card col-lg-4 col-lg-offset-1" data-ng-repeat="recipe in recipes" data-ng-click="controller.importRecipe(recipe.id)">
  <div class="card-block">
    <h2 class="card-title">{{recipe.title}}</h2>
    <p style="vertical-align:middle;font-weight:bold;font-size:2em">
      if <img data-ng-src={{recipe.triggerChannel}} width="80px"/> then <img data-ng-src={{recipe.actionChannel}} width="80px"/>
    </p>
    <p class="card-text">
      <small class="text-muted">Created by {{recipe.user}}, liked by {{recipe.favorites}} users.</small>
    </p>
  </div>
</div>
<!-- Here it goes the list of public recipes which use that channel-->
