<div class="alert alert-danger" data-ng-show="error">
    {{errorMessage}}
</div>

<!-- title -->
<div class="row">
    <input type="text" name="inputRecipeTitle" class="form-control form-control-lg col-lg-6" placeholder="Title" data-ng-model="recipe.title" required/>
</div>

<!-- IFTTT LINKS AND IMAGES-->
<div class="row" data-ng-show="recipe.title.length != 0 ">
  <div class="col-lg-6 col-lg-offset-4" style="vertical-align:middle;font-weight:bold;font-size:3em">
    <span>if</span>
    <span id="triggerDiv">
       <button data-ng-click="controller.selectTriggerClicked($event)" class="btn btn-link">this</button>
    </span>
    <span> then </span>
    <span id="actionDiv">that</span>
  </div>
</div>

<!-- Trigger channels -->
<div id="channelTriggersDiv" class="container-fluid">
  <ol class="breadcrumb" data-ng-show="triggerChannels.length != 0">
    <li class="active">Trigger channels</li>
  </ol>
  <div class="container">
    <div class="card col-lg-3 col-lg-offset-1" data-ng-repeat="channel in triggerChannels" data-ng-click="controller.channelSelected(channel.id, 'trigger')">
      <img class="card-img-top" data-ng-src="img/{{channel.id}}.png" alt={{channel.title}} width="100%" style="padding:15%">
      <div class="card-block">
        <h4 class="card-title">{{channel.title}}</h4>
      </div>
    </div>
  </div>
</div>

<!-- Trigger methods -->
<div id="triggerChoicesDiv" class="container" style="min-height:580px">
  <ol class="breadcrumb" data-ng-show="triggers.length != 0">
    <li class="active">Triggers</li>
  </ol>

  <!-- Put here the choices -->
  <div data-ng-repeat="trigger in triggers">
    <div class="clearfix" data-ng-if="$index % 2 == 0"></div>
    <div class="card col-lg-5 col-lg-offset-1" data-ng-click="controller.triggerSelected(trigger.method, trigger.title)">
      <div class="card-block">
        <h4 class="card-title">{{trigger.title}}</h4>
        <p class="card-text">{{trigger.description}}</p>
      </div>
    </div>
  </div>

<div>
  <div class="alert alert-warning" role="alert" data-ng-show='triggerChannelNotConnected'>
    You did not authorize this channel. Do it <a data-ng-href="#/channel/{{recipe.trigger.channel}}" class="alert-link" target="_blank">here</a>.
  </div>
</div>
</div>
<div style="min-height:580px" id="triggerFieldsContainer">
  <ol class="breadcrumb" data-ng-show="recipe.recipeTriggerFields" >
    <li class="active">Trigger fields</li>
  </ol>
  <div id="triggerFieldsDiv"></div>
</div>

<br />

<div id="channelActionsDiv" class="container" style="min-height:580px">
  <ol class="breadcrumb" data-ng-show="actionChannels.length != 0">
    <li class="active">Action channels</li>
  </ol>

  <div class="card col-lg-3 col-lg-offset-1" data-ng-repeat="channel in actionChannels" data-ng-click="controller.channelSelected(channel.id, 'action')">
    <img class="card-img-top" data-ng-src="img/{{channel.id}}.png" alt={{channel.title}} width="100%" style="padding:15%">
    <div class="card-block">
      <h4 class="card-title">{{channel.title}}</h4>
    </div>
  </div>
</div>


<div id="actionsChoicesDiv" class="container" style="min-height:580px">
  <ol class="breadcrumb" data-ng-show="actions.length != 0">
    <li class="active">Action channels</li>
  </ol>
  <div class="alert alert-warning" role="alert" data-ng-show='actionChannelNotConnected'>
    You did not authorize this channel. Do it <a data-ng-href="#/channel/{{recipe.action.channel}}" class="alert-link" target="_blank">here</a>.
  </div>
  <div data-ng-repeat="action in actions">
    <div class="clearfix" data-ng-if="$index % 2 == 0"></div>
    <div class="card col-lg-5 col-lg-offset-1" data-ng-click="controller.actionSelected(action.method, action.title)">
      <div class="card-block">
        <h4 class="card-title">{{action.title}}</h4>
        <p class="card-text">{{action.description}}</p>
      </div>
    </div>
  </div>

</div>

<div class="container" id="actionFieldsContainer">
  <ol class="breadcrumb" data-ng-show="recipe.recipeActionFields">
    <li class="active">Action fields</li>
  </ol>
  <div id="actionFieldsDiv"></div>
</div>


<div id="confirmDiv" class="row" style="min-height:580px; margin-top:20px"> </div>

<div class="modal fade" id='ingredientsModal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Ingredients</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="ingredient" class="col-sm-2 form-control-label">Ingredient:</label>
            <div class="col-sm-10">
              <select id="ingredient" class="form-control" data-ng-model="selectedIngredient" data-ng-options="ingredient.name for ingredient in recipe.trigger.ingredients"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Description:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selectedIngredient.description}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Example:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selectedIngredient.example}}</p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="controller.insertIngredient()">Insert</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
