<div class="alert alert-danger" data-ng-show="error">
  {{errorMessage}}
</div>

<div class="row">
    <input  class="form-control form-control-lg col-lg-6" type="text" value={{recipe.title}} data-ng-model="recipe.title">
</div>

<br/> <hr /> <br />

<div class="row">
    <p class="col-lg-6 col-lg-offset-4" style="vertical-align:middle;font-weight:bold;font-size:3em">
      if <img data-ng-src="{{triggerChannelImage}}" width="110px"/> then <img
            data-ng-src="{{actionChannelImage}}" width="110px"/>
    </p>
</div>

<br/> <hr /> <br />

<div class="row">
  <ol class="breadcrumb">
    <li class="active">Trigger: {{recipe.trigger.name}}</li>
  </ol>
</div>

<div id="triggersDiv">

</div>

<br/> <hr /> <br />

<div class="row">
  <ol class="breadcrumb">
    <li class="active">Action: {{recipe.action.name}}</li>
  </ol>

</div>

<div id="actionsDiv">

</div>

<br/> <hr /> <br />

<div class="row">
  <div class="col-lg-offset-5">
    <button class="btn btn-primary" data-ng-click="controller.updateRecipe()">Update</button>
  </div>
</div>

<div class="modal fade" id='ingredientsModal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Ingredients</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="ingredient" class="col-sm-2 form-control-label">Ingredient:</label>
            <div class="col-sm-10">
              <select id="ingredient" class="form-control" data-ng-model="selectedIngredient" data-ng-options="ingredient.name for ingredient in recipe.trigger.ingredients"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Description:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selectedIngredient.description}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Example:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selectedIngredient.example}}</p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="controller.insertIngredient()">Insert</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
