<div class="alert alert-danger" data-ng-show="error">
  {{errorMessage}}
</div>

<div class="row">
    <input  class="form-control form-control-lg col-lg-6" type='text' value={{recipe.title}} data-ng-model="recipe.title">
</div>

<br/> <hr /> <br />

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1 style="display:inline"> if </h1>
    <span>
      <img src={{triggerChannelImage}} style="height:110px"/>
    </span>
    <h1 style="display:inline"> then </h1>
    <span>
      <img src={{actionChannelImage}} style="height:110px"/>
    </span>
  </div>

</div>

<br/> <hr /> <br />

<div class="row">
  <ol class="breadcrumb">
    <li class="active">Trigger: {{recipe.trigger.name}}</li>
  </ol>


</div>

<div id="triggersDiv">

</div>

<br/> <hr /> <br />

<div class="row">
  <ol class="breadcrumb">
    <li class="active">Action: {{recipe.action.name}}</li>
  </ol>

</div>

<div id="actionsDiv">

</div>

<br/> <hr /> <br />

<div class="row">
  <div class="col-lg-offset-5">
    <button class="btn btn-primary" data-ng-click="controller.updateRecipe()">
      Modifica
    </button>
  </div>
</div>


<div class="modal fade" id='ingredientsModal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Ingredients</h4>
      </div>
      <div class="modal-body row">
        <select class="col-lg-offset-1" ng-model = 'selectedIngredient'>
          <option data-ng-repeat='ingredient in recipe.trigger.ingredients' value={{ingredient.name}}>{{ingredient.name}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="controller.insertIngredient()">Insert</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
