<div class="alert alert-danger" data-ng-show="error">
    {{errorMessage}}
</div>
<div class="alert alert-info" data-ng-show="info">
    {{infoMessage}}
</div>

<div class="card col-lg-4 col-lg-offset-1" data-ng-repeat="recipe in publicRecipes" data-ng-click="controller.importRecipe(recipe.id)">
    <div class="card-block">
        <h2 class="card-title">{{recipe.title}}</h2>
        <p style="vertical-align:middle;font-weight:bold;font-size:2em">
            if <img data-ng-src={{recipe.triggerChannel}} width="80px"/> then <img data-ng-src={{recipe.actionChannel}} width="80px"/>
        </p>
        <p class="card-text">
            <small class="text-muted">Created by {{recipe.user}}, liked by {{recipe.favorites}} users.</small>
            <div data-ng-show="authenticated">
                <button class="btn btn-secondary" data-ng-click="controller.favoriteRecipe(recipe, $event)">
                  <i class="fa fa-heart-o fa-2x" aria-hidden="true" data-ng-show="!recipe.favorite"></i>
                  <i class="fa fa-heart fa-2x" aria-hidden="true" data-ng-show="recipe.favorite"></i>
                </button>
                <button class="btn btn-secondary" data-ng-click="controller.deleteRecipe(recipe, $event)" data-ng-show="username === recipe.user">
                    <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                </button>
            </div>
        </p>
    </div>
</div>
