
<!-- centered button to create recipes -->
<div class="row">
  <a class="btn btn-primary col-lg-4 col-lg-offset-4" href="#/createRecipe">Crea una nuova ricetta</a>
</div>


<div data-ng-repeat="recipe in recipes">
<div class="row">
  <div class="col-lg-9">
    <div class="row">
      <span>IF</span>
      <span>
        <img class="img-responsive" src={{recipe.triggerChannelImage}} style="height:110px"/>
      </span>

      <span>THEN</span>
      <span>
      	<img class="img-responsive" src={{recipe.actionChannelImage}} style="height:110px"/>
      </span>
    </div>
    <div class="row"><h2>{{recipe.title}}</h2></div>
  </div>

  <div class="col-lg-3">
    <div class="row"></div>
    <div class="row">Created on {{recipe.created}}</div>
    <div class="row">last run on {{recipe.lastRun}}</div>
    <div class="row">run on {{recipe.timesRun}} times</div>
  </div>
</div>
<div class="row">
<hr /><hr />
</div>

</div>
