<div class="row">
    <h1>{{recipe.title}}</h1>
    <br/>
</div>
<div class="alert alert-danger" data-ng-show="controller.error">
    {{errorMessage}}
</div>
<div class="row" data-ng-show="!controller.error">
    <p class="col-lg-6 col-lg-offset-3" style="vertical-align:middle;font-weight:bold;font-size:3em">
        if <img data-ng-src="img/{{recipe.trigger.channel}}.png" width="110px"/> then <img
            data-ng-src="img/{{recipe.action.channel}}.png" width="110px"/>
    </p>
</div>

<br/>

<table class="table table-hover">
    <tr data-ng-repeat="entry in logs">
        <td><img data-ng-src="img/{{recipe.trigger.channel}}.png" width="40px" alt="{{recipe.trigger.channel}}"/><img
                data-ng-src="img/{{recipe.action.channel}}.png" width="40px" alt="{{recipe.action.channel}}"/></td>
        <td><h4>Personal Recipe {{entry.event | lowercase}}.</h4></td>
        <td><h6>{{entry.timestamp}}</h6></td>
    </tr>
</table>

<nav>
    <ul class="pager">
        <li data-ng-show="controller.pageId > 0"><a
                href="#recipeLog/{{recipe.id}}/{{controller.pageId - 1}}">Newer</a></li>
        <li data-ng-show="logs.length === 15"><a href="#recipeLog/{{recipe.id}}/{{controller.pageId * 1 + 1}}">Older</a>
        </li>
    </ul>
</nav>