<div class="alert alert-danger" data-ng-show="controller.error">
    {{errorMessage}}
</div>

<form role="form" data-ng-submit="controller.signIn()">
    <div class="form-group">
        <label for="username">Username:</label> <input type="text" class="form-control" id="username" name="username"
                                                       data-ng-model="controller.credentials.username"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label> <input type="password" class="form-control" id="password"
                                                       name="password" data-ng-model="controller.credentials.password"/>
    </div>
    <div class="form-group">
        <label for="password">Confirm Password:</label> <input type="password" class="form-control" id="confirm"
                                                       name="confirm" data-ng-model="controller.credentials.confirm"/>
    </div>
    <div class="form-group">
        <label for="email">Email:</label> <input type="text" class="form-control" id="email"
                                                       name="email" data-ng-model="controller.credentials.email"/>
    </div>
    <div class="form-group">
        <label for="timezone">Timezone:</label>
        <select class="form-control" id="timezone" name="timezone" data-ng-model="controller.credentials.timezone">
          <option data-ng-repeat="tz in timezones">{{tz}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
