<!DOCTYPE html>
<html data-ng-app="schedulerApp">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/libs/tether.css">

<script src="js/libs/jquery.js" type="text/javascript"></script>
<script src="js/libs/tether.js" type="text/javascript"></script>
<script src="js/libs/bootstrap.js" type="text/javascript"></script>
<script src="js/libs/angular.js" type="text/javascript"></script>
</head>
<body>
	<!-- navbar -->
	<nav class="navbar navbar-light bg-faded" data-ng-controller="LoginController as nav">
		<a class="navbar-brand" href="#/">IFTTT-CLONE</a>



		<ul class="nav pull-lg-right navbar-nav">

			<!--  Only for authenticated people  -->
			<li data-ng-show="authenticated" class="nav-item"><a href="#/recipes" class="nav-link">Le mie ricette</a></li>
			<!-- For everyone -->
			<li class="nav-item active"><a href="#/" class="nav-link">Canali</a></li>
			<li class="nav-item"><a href="#/recipes" class="nav-link">Ricette pubbliche</a></li>

			<!-- only for anonymous people -->
			<li data-ng-show="!authenticated" class="nav-item"><a class="nav-link" href="#/login">Login</a></li>
			<!-- only if auth you can see the dropdown -->
			<li data-ng-show="authenticated" class="nav-item"><a class="nav-link" href="#" onclick="nav.logout()">Logout</a></li>
		</ul>




		<form class="form-inline" style="text-align: center">
			<input class="form-control" type="text" placeholder="Search" data-ng-model="searchText">
			<button class="btn btn-success-outline" data-ng-click="">Search</button>
		</form>
	</nav>

	<br />
	<br />
	<div class="container">
		<div data-ng-view></div>
	</div>

	<form method="post" action="api/channels/google_calendar/activate">
		<input type="text" name="_csrf" value="CSRF Token">
		<button type="submit">Connect</button>
	</form>

	<script src="js/app.js" type="text/javascript"></script>
</body>
</html>
